@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

html {
    text-align:center;
    background-color:rgb(196, 105, 105);
}


#header {
    font-family:'Tektur';
    font-size:40px;
    letter-spacing: 4px;
}


div {
    border-radius: 10px;
    padding: 5px;
    line-height:120px;
    width: 200px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position:relative;
    left:370px;
    float:left;
    margin-left:30px;
    font-size:18px;
    margin-bottom:30px;
    background-color:#F5F5F5;
    font-family:'Tektur';
    letter-spacing: 2px;
}

div>p {
    margin:auto;
    line-height:10px;
    font-family:'MinecraftiaRegular';
}

p {
    font-size:larger;
    clear:left;
    font-family:'Tektur';
}